body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Noto Sans CJK SC regular", "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Helvetica", "Hiragino Sans GB", sans-serif;
    background: #f5f7f8;
}

header {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex: 48px;
    height: 48px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
}

@media (max-width: 500px) {
    header {
        justify-content: space-around;
    }
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 16px;
    font-family: "Noto Sans CJK SC medium", "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Helvetica", "Hiragino Sans GB", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

nav a:hover {
    color: #3949ab;
    background: rgba(0, 0, 0, 0.1);
}

main {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    margin: 48px auto;
    width: 90%;
}

aside {
    display: flex;
    flex-flow: column;
    margin: 16px 0 0 4px;
    padding: 16px;
    position: fixed;
    border-radius: 4px 0 0 4px;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: #00897b;
    background: #eeeeee;
}

aside h1 {
    margin-bottom: 8px;
    font-size: 16px;
}

aside ul {
    padding-left: 24px;
    margin: 0;
    list-style: none;
}

aside ul li {
    margin: 8px 0 8px 0;
}

aside ul li a {
    text-decoration: none;
}

aside ul li a:hover {
    text-decoration: underline;
}

aside ul li a:link,
aside ul li a:visited {
    color: #00897b;
}

main div {
    padding-left: 128px;
}

.gbox {
    margin-bottom: 64px;
}

@media (max-width: 600px) {
    aside {
        display: none;
    }
    main div {
        padding-left: 0;
    }
}

.abox {
    padding: 16px;
    margin: 16px 0 16px 32px;
}

main article h1 {
    margin: 16px;
    font-size: 36px;
}

.abox h1 {
    margin: 0;
    font-size: 24px;
}

.abox li {
    margin-left: 16px;
    line-height: 1.8;
}

article i {
    margin: 0;
    font-size: 12px;
}

footer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 16px;
    height: 48px;
    font-size: 12px;
    background: rgba(22, 22, 22, 1);
    color: rgba(178, 178, 178, 1);
}

svg {
    padding: 16px 0 16px 0;
    fill: rgba(178, 178, 178, .8);
}

svg:hover {
    fill: #b2b2b2;
}

footer p {
    margin: 0;
    padding: 16px;
    font-weight: bold;
}