body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Noto Sans CJK SC regular", "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Helvetica", "Hiragino Sans GB", sans-serif;
    background: #e9edf0;
}

main {
    display: flex;
    flex-direction: row wrap;
}

section {
    display: flex;
    flex-flow: column;
    flex: 1;
}

#schoInfo, #emotion, #basicInfo {
    display: flex;
    flex-flow: column;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    background: #ffffff;
}

.title {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 0;
}

.title>i {
    margin: auto 4px auto 4px;
    font-size: 24px;
    color: #b1bcd9;
}

.title>h1 {
    margin: 0;
    padding: 8px;
    font-size: 24px;
    align-items: center;
}

.title>div {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: flex-end;
}

.title>div>button {
    /* max-width: 16%; */
    width: 80px;
    height: 36px;
    margin: 4px;
    padding: 0;
    cursor: pointer;
}

.btnSave {
    color: #fff;
    background-color: #0b5fa4;
    background-image: linear-gradient(#2973b5, #0b5fa4);
    border-radius: 4px;
    border: 1px solid rgb(212, 212, 212);
}

.btnSave:hover {
    background-color: #367dbb;
    background-image: linear-gradient(#4f87b4, #367dbb);
    border-color: #498fc9;
}

.btnCancel {
    color: rgb(51, 51, 51);
    background-color: rgb(236, 236, 236);
    background-image: linear-gradient(rgb(244, 244, 244), rgb(236, 236, 236));
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
}

.btnCancel:hover {
    background-color: rgb(222, 222, 222);
    background-image: linear-gradient(rgb(232,232,232), rgb(222, 222, 222));
    border-color: rgb(212, 212, 212);
}

.btnCancel:active, .btnSave:active {
    position: relative;
    top: 1px;
}
.ta {
    display: flex;
    flex-flow: column;
    /* height: 50%;
    width: 50%; */
    /* margin: 64px auto 64px auto; */
    padding: 8px 16px 8px 16px;
    /*background: #ffd34e;*/
}

.tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 4px;
    margin-bottom: 8px;
}

.tr > h2 {
    margin: 0;
    min-width: 16%;
    font-size: 16px;
}

.tr > span {
    color: #000;
    font-size: 16px;
    margin-left: -8px;
}

.flexP {
    display: flex;
    flex-flow: row wrap;
}

.flexP > * {
    margin-right: 10px;
    margin-bottom: 4px;
}

.optionArea {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.optionArea > * {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #465dfc;
}

input {
    border: 1px solid rgb(212, 212, 212);
}
span {
    color: #666666;
}

button {
    width: 100%;
    align-self: center;
}


@media (max-width:600px) {
    main {
        flex-flow: column;
    }
}

footer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 16px;
    height: 48px;
    font-size: 12px;
    background: rgba(22, 22, 22, 1);
    color: rgba(178, 178, 178, 1);
}

svg {
    padding: 16px 0 16px 0;
    fill: rgba(178, 178, 178, .8);
}

svg:hover {
    fill: #b2b2b2;
}

footer p {
    margin: 0;
    padding: 16px;
    /*font-weight: bold;*/
}